.navbar-lewagon {
  justify-content: space-between;
  background: #1C3D52;
  font-family: 'Lusitana', serif;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
img{
  width: 100px;
  height: 70px;
}
.tabs-underlined {
  display: flex;
  align-items: center;
}
.tabs-underlined .tab-underlined {
  font-size: 22px;
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease;
  height: 100%;
  margin-right: 20px;
}
.tabs-underlined .tab-underlined:hover {
  opacity: 1;
  border-bottom: 2px solid;
  color: white;
}
.collapse {
  margin-top: 10px;
  margin-right: 30px;
}
.navbar{
  position: fixed;
  top: 0;
  min-width: 100%;
}
